.screen-position {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
}

/* Main PAge */
.main { background-image: url("static/background.png") }

/* Logo */
.logo {
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    width: 155px;
}