/* Gameplay Overlay */
.overlay {
    position: absolute;
    right: 265px;
    font-family: "Torus";
    font-weight: 400;
    color: white;
    font-size: 1.0625em;
    letter-spacing: 0.3px;
}
.overlay-bold { font-weight: 700; }
#mapper-overlay { bottom: 213px; }
#player-overlay { bottom: 234px; }