_data/amplifier-rolls-teams.json
_data/amplifiers.json
_data/api-address.json
_data/osu-api.json
_data/qualifier-results.json
_shared/assets/amplifier-icons
_shared/assets/amplifier-tiles/
amplifier-roll/static/script.json
fonts
presentation
