.status-screen-song-text {
    position: absolute;
    left: 960px;
    transform: translateX(-50%);
    font-family: "Torus";
    font-size: 2rem;
    color: white;
}

#song-name {
    top: 520px;
    font-weight: 700;
    width: 1100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#artist {
    top: 555px;
}