.status-screen-song-metadata {
    position: absolute;
    top: 520px;
    left: 960px;
    transform: translateX(-50%);
    width: 700px;
    text-align: center;
    font-family: "Torus";
    font-size: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#song-name { font-weight: 700; }