.main {
    font-family: "Torus";
    font-weight: 700;
}

/* Helper Class */
.position-absolute-exact-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Team Amps */
.team-amps-container {
    position: absolute;
    top: 64px;
    display: flex;
}
.left-team-amps-container { left: 40px; }
.right-team-amps-container { 
    right: 40px;
    flex-direction: row-reverse;
}
.team-amps {
    --dimension: 45px;
    width: var(--dimension);
    height: var(--dimension);
}

/* Team Name */
.team-name {
    --height: 23px;
    position: absolute;
    top: 41px;
    height: var(--height);
    font-size: 1.5625rem;
    color: white;
    letter-spacing: 1px;
    line-height: var(--height);
    padding: 0 3px 3px 3px;
}
.left-team-name {
    left: 192px;
    background-color: #FF2B2B;
    box-shadow: 0 0 10px #FF2B2B;
}
.right-team-name {
    right: 192px;
    background-color: #2B61FF;
    box-shadow: 0 0 10px #2B61FF;
}

/* Points */
.point-container {
    position: absolute;
    top: 68px;
    display: flex;
}
.left-points-container { left: 186px; }
.right-points-container {
    right: 186px;
    flex-direction: row-reverse;
}
.individual-point-container {
    --dimension: 37px;
    position: relative;
    width: var(--dimension);
    height: var(--dimension);
    margin: 0 -1px;
}

/* Logo */
.logo {
    position: absolute;
    top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 155px;
}

/* Round Name */
.round-name {
    --height: 17px;
    position: absolute;
    top: 91px;
    left: 50%;
    transform: translateX(-50%);
    height: var(--height);
    font-size: 1.125rem;
    color: white;
    line-height: 14px;
    background-color: black;
    padding: 0 6px;
}

/* Chat Display */
.chat-display {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    width: 564px;
    height: 164px;
    background-image: url("assets/chat-background.png");
    border-radius: 30px;
    color: white;
    overflow: hidden;
    font-size: 1.1em;
}
/* Chat Display Container */
.chat-display-container {
    --margin: 6px;
    position: absolute;
    top: var(--margin);
    left: var(--margin);
    width: calc(100% - (var(--margin) * 2));
    height: calc(100% - (var(--margin) * 2));
    overflow-y: scroll;
}
.chat-display-container::-webkit-scrollbar { display: none; }
.chatMessageContainer {
    display: flex;
    padding: 0.1em 0;
}
.chatDisplayTime {
    width: 90px;
    text-align: center;
}
.bot { color: greenyellow; }
.unknown { color: yellow; }
.left { color: rgb(255, 209, 209); }
.right { color: rgb(205, 242, 255); }