.main { background-image: url("static/background.png"); }

/* Mappool Background */
.mappool-background-large {
    position: absolute; 
    top: 77px;
}
.mappool-background-small {
    position: absolute; 
    top: 144px;
    display: none;
}

/* Mappool Section */
.mappool-section {
    position: absolute;
    top: 518px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1662px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Panel */
.panel {
    position: relative;
    width: 396px;
    height: 114.75px;
    margin-bottom: 36px;
}
/* Panel Song Background */
.panel-song-background {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 388px;
    height: 103px;
    background-image: url("https://assets.ppy.sh/beatmaps/2259255/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 2px;
}
/* Panel Gradient */
.panel-gradient {
    position: absolute;
    top: 0;
    left: 0;
}

/* Panel Metadata */
.panel-metadata {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 0.875rem;
    color: white;
    letter-spacing: 0.2px;
    white-space: nowrap;
}
.panel-metadata > * {
    width: 300px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Panel Song Name */
.panel-song-name {
    position: absolute;
    top: 10px;
}
/* Panel Artist */
.panel-artist {
    position: absolute;
    top: 27.5px;
    font-weight: 400;
}
/* Panel Difficulty */
.panel-difficulty {
    position: absolute;
    top: 45px;
}
/* Panel Mapper */
.panel-mapper {
    position: absolute;
    top: 62.5px;
    font-weight: 400;
}
/* Panel SR / BPM */
.panel-sr-bpm {
    position: absolute;
    left: 10px;
    top: 80px;
    color: white;
}
.panel-sr { color: #EBFA03; }
/* Panel Mod Icon */
.panel-mod-icon {
    --dimension: 80px;
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translateY(-50%);
    width: var(--dimension);
    height: var(--dimension);
}

/* Panel Picked */
.panel-picked {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 111px;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.5);
    display: none;
}
/* Panel Picked Amp */
.panel-picked-amp {
    width: 51px;
    height: 51px;
    border-radius: 3px;
    display: none;
}
.left-panel-picked-amp {
    background-color: rgba(255,43,43,0.5686274509803921);
    border: 2px solid #FF8282;
}
.right-panel-picked-amp {
    background-color: rgba(43,98,255,0.5686274509803921);
    border: 2px solid #82B4FFFF;
}
/* White Reflect */
.panel-white-reflect {
    position: absolute; 
    top: -2px;
    left: -2px;
}
/* Panel Picked Amp Image */
.panel-picked-amp-image {
    --dimension: 37px;
    width: var(--dimension);
    height: var(--dimension);
    opacity: 1;
}

/* Pick Ban Won */
.panel-pick-ban-won {
    position: absolute;
    top: 96%;
    right: 0;
    display: flex;
}
.panel-pick-ban-won > * { margin-left: -7px; }

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 250px;
    height: 1080px;
    background-color: orange;
}
/* Sidebar Title */
.sidebar-title {
    width: 100%;
    text-align: center;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.5em;
}
/* Sidebar Text */
.sidebar-text {
    width: 100%;
    text-align: center;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.25em;
}
/* Sidebar Section */
.sidebar-section {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
/* Sidebar Button Container */
.sidebar-button-container {
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
/* Amplifier Selection Button */
.amplifier-selection-button {
    width: 190px;
    height: 60px;
    background-color: transparent;
    font-family: "Torus";
    font-weight: 700;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.1em;
}
.amplifier-selection-button:active {
    background-color: black;
    color: orange;
}
/* Amplifier Selection Text */
.amplifier-selection-title-text { margin-bottom: 30px; }
.amplifier-selection-text { margin-top: 30px; }