.main { background-image: url("static/background.png"); }

/* Logo */
.logo { top: 23px; }

/* Round Name */
.round-name {
    top: 81px;
    letter-spacing: 0.4px;
    text-indent: 0.2px;
}

/* Mod Image */
.mod-image {
    position: absolute;
    top: 882px;
}

/* Map Stats */
.map-stats {
    position: absolute;
    top: 954px;
    left: 18px;
    color: white;
}
.map-stats > * { margin-bottom: -2px; }
#map-sr { color: #EDFB0D; }

/* Amplifier Background */
.amplifier-container {
    position: absolute;
    top: 950px;
    display: flex;
    color: white;
    display: none;
}
.left-amplifier-container {
    left: 30%;
    transform: translateX(-50%);
}
.right-amplifier-container {
    right: 30%;
    transform: translateX(50%);
}
/* Amplifier Icon */
.amplifier-image-container { position: relative; }
.amplifier-icon {
    --dimension: 67px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--dimension);
    height: var(--dimension);
}
/* Amplifier Text */
.amplifier-text {
    width: 250px;
    align-self: center;
}

/* Left Score Difference */
.score-difference {
    position: absolute;
    top: 931px;
    font-size: 23px;
    color: white;
    font-weight: 700;
    font-family: "Torus";
    letter-spacing: 0.1px;
}
.left-score-difference { right: 977px; }
.right-score-difference { left: 977px; }

/* Score Bar */
.score-bar {
    position: absolute;
    top: 935px;
    width: 65px;
    height: 10px;
    background-color: white;
    transition: 500ms ease-in-out;
}
.left-score-bar { right: 960px; }
.right-score-bar { left: 960px; }

/* Score Number */
.score-number {
    position: absolute;
    top: 958px;
    color: white;
    font-size: 32px;
    font-weight: 400;
}
.left-score-number { right: 977px; }
.right-score-number { left: 977px; }
.lead-score-number {
    position: absolute;
    top: 951px;
    font-weight: 700;
    font-size: 40px;
}

/* Map Banner */
#map-banner {
    --dimension: 111px;
    position: absolute;
    top: 944px;
    right: 10px;
    width: var(--dimension);
    height: var(--dimension);
    background-image: url("https://assets.ppy.sh/beatmaps/319890/covers/cover.jpg");
    background-position: center;
    background-size: cover;
}

/* Map Metadata */
.map-metadata {
    position: absolute;
    top: 964px;
    right: 131px;
    text-align: right;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: white;
}
.map-metadata div:nth-child(even) {
    font-weight: 400;
}

/* Chat Display */
.chat-display {
    height: 142px;
    opacity: 0;
    transition: 500ms ease-in-out;
}

/* Animation Display */
.amplifier-animation {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-color: rgba(0,0,0,0.6);
    opacity: 0;
}
.amplifier-animation-keyframes {
    animation: amplifier-animation-keyframes 5s linear forwards;
}
@keyframes amplifier-animation-keyframes {
    0% { opacity: 0; }
    5% { opacity: 1; }
    95% { opacity: 1; }
    100% { opacity: 0; }
}
.amplifier-team-name {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    color: white;

    --height: 23px;
    height: var(--height);
    font-size: 1.5625rem;
    color: white;
    letter-spacing: 1px;
    line-height: var(--height);
    padding: 3px 5px;

    font-family: "Torus";
    font-weight: 700;

    background-color: #FF2B2B;
    box-shadow: 0 0 10px #FF2B2B;
}
.amplifier-tile {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sidebar */
.sidebar {
    position: absolute;
    top: 0;
    left: 1920px;
    width: 250px;
    height: 1080px;
    background-color: orange;
}
/* Sidebar Title */
.sidebar-title {
    width: 100%;
    text-align: center;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.5em;
}
/* Sidebar Text */
.sidebar-text {
    width: 100%;
    text-align: center;
    font-family: "Torus";
    font-weight: 700;
    font-size: 1.25em;
}
/* Sidebar Section */
.sidebar-section {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}
/* Sidebar Button Container */
.sidebar-button-container {
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
/* Star Control Button */
.star-control-button {
    width: 90px;
    height: 40px;
    background-color: transparent;
    font-family: "Torus";
    font-weight: 700;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.1em;
}
.star-control-button:active {
    background-color: black;
    color: orange;
}
/* Amplifier Selection Button */
.amplifier-selection {
    border-bottom: none;
}
.amplifier-selection-button {
    width: 190px;
    height: 60px;
    background-color: transparent;
    font-family: "Torus";
    font-weight: 700;
    border: 2px solid black;
    border-radius: 25px;
    font-size: 1.1em;
}
.amplifier-selection-button:active {
    background-color: black;
    color: orange;
}
/* Amplifier Selection Text */
.amplifier-selection-title-text { margin-bottom: 30px; }
.amplifier-selection-text { margin-top: 30px; }