/* Main Page */
.main {
    font-family: "Torus";
}

/* Logo */
.logo {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

/* Title */
#title {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.125rem;
    font-weight: 700;
}

/* Reveal Tiles */
#reveal-tile-container {
    width: inherit;
    position: absolute;
    top: 240px;
    display: flex;
    justify-content: center;
}
.reveal-tile {
    margin: 0 70px;
}

/* Team Roll */
.teamroll {
    position: absolute;
    top: 740px;
    left: 50%;
    transform: translateX(-50%);
    width: 1587px;
    height: 145px;
}
/* Team Roll Team Container */
#teamroll-team-container {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Team Info */
.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 20px;
}
.team-info-small { 
    width: 120px; 
}
.team-info-large { 
    width: 160px; 
}
.team-info > * {
    width: inherit;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* Team Info Text */
.team-info-text {
    color: rgba(254, 254, 254, 0.729);
    font-weight: 700;
    text-align: center;
}
.team-info-small .team-info-text { font-size: 1.125rem; }
.team-info-large .team-info-text { font-size: 1.5rem; }
/* Player Name */
.player-name {
    font-weight: 400;
}
/* Amplfiier Icons */
.amplifier-icons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.amplifier-icons > * {
    width: 28px;
    height: 28px;
    margin: 0 2px;
}

/* Side Bar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    background-color: #F77141;
}
/* Button */
.sidebar-button {
    margin: 20px 20px 0 20px;
    width: 200px;
    height: 50px;
    border: 5px solid white;
    background-color: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}
.sidebar-button:active {
    background-color: white;
    color: black;
}